name: master

on:
  push:
     branches: [master]
  pull_request:
     branches: [master]

jobs:
  test-accessibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Start Server
        run: deno run -A make_website_a_server.ts &

      - name: Use Pa11y
        run: |
          npm i pa11y
          node_modules/.bin/pa11y --ignore "WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail" http://localhost:1337
#          npm i -g @axe-core/cli
#          axe http://localhost:1337 --exit
 

  browser-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install NPM
        uses: actions/setup-node@v3.0.0

      - name: Install Deno
        uses: denoland/setup-deno@v1

      - name: Start Server
        run: deno run -A make_website_a_server.ts &

      - name: Install Cypress
        run: |
          cd tests
          npm i

      - name: Run Browser Tests
        run: |
          cd tests
          node_modules/.bin/cypress run

